/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --extra-gray: #888888;
  --extra-black: rgba(255,255,255,0.9);
  --extra-blue-hover: #669ec0;
  --extra-blue-active: #5496bd;
  --basic-brown: #766357;
  --extra-brown-hover:#604e43;
  --extra-brown-active:#503e33;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  background-color: var(--extra-gray);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 70px;
}

.main-header-logo {
  justify-self: center;
}
/* Main navigation */

.main-navigation-wrapper {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation,
.feature-list,
.service-list,
.sort-list,
.result-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Features */

.features {
  margin-bottom: 80px;
}

.feature-list {
  display: grid;
  grid-template-rows: auto;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}
/*
.button:hover,
.button:focus,
.button:active {
  color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}
*/
.extra-button {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.booking-button {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.extra-button:hover,
.extra-button:focus {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-blue-hover);
}

.booking-button:hover,
.booking-button:focus {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-brown-hover);
}

.extra-button:active {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-blue-active);
}

.booking-button:active {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-brown-active);
}
/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--extra-black);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  justify-self: center;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
  color: var(--basic-blue);
}

.footer-contacts a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.footer-social {
  text-align: center;
  width: 145px;
  justify-self: center;
}

.footer-copyright {
max-width: 150px;
margin: 0;
justify-self: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--extra-blue-hover);
}
