/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --extra-gray: #888888;
  --extra-black: rgba(255,255,255,0.9);
  --extra-blue-hover: #669ec0;
  --extra-blue-active: #5496bd;
  --basic-brown: #766357;
  --extra-brown-hover:#604e43;
  --extra-brown-active:#503e33;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;

}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--extra-gray);
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.main-header-logo {
  justify-self: center;
  position: absolute;
  z-index: 2;
}
/* Main navigation */

.main-navigation-wrapper {
  background-color: var(--basic-white);
  width: 1200px;
  margin-bottom: 60px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  width: 1200px;
  height: 56px;
}

.site-navigation,
.feature-list,
.service-list,
.small-item-list,
.sort-list,
.result-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.site-navigation li {
  margin-left: 72px;
  margin-right: 72px;
}
.site-navigation a {
  color: var(--basic-black);
  display: block;
  text-align: center;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.banner {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner .welcome-sedona {
  margin-top: 78px;
}

.sedona {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 216px;
}

.sedona .h2 {
  width: 470px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 42px;
}

/* Features */

.features {
  margin-bottom: 80px;

}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.feature-text {
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 49px;
}

.feature-text h3 {
  max-width: 150px;
  font-size: 21px;
  line-height: 21px;
}

.feature-text p {
  max-width: 301px;
}

.feature-item-picture {
  display: flex;
  background-color: var(--basic-blue);
}

.service-list {
    display: flex;
    justify-content: space-around;
    height: 330px;
    align-items: center;
    width: 100%;
}

.service-item h4 {
  font-size: 21px;
  line-height: 21px;
}
.service-item p {
  max-width: 297px;
}

.small-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 256px;
  background-color: var(--basic-gray);
  margin-left: 0;
  margin-right: 0;
}

.small-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-item h3 {
  max-width: 119px;
}

.small-item p {
  max-width: 258px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feedback {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.feedback-text {
  display: block;
  width: 435px;
  height: 155px;
}

.feedback-text p {
  margin: 0;
}

.feedback .h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

/*Hotels*/

.filters {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.results {
  display: flex;
  flex-direction: column;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
}

.result-item {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
}

.result-item img {
  order: -1;
  margin-left: 73px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

.find-button {
  box-sizing: border-box;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  line-height: 26px;
  font-size: 21px;
  text-align: center;
  padding-top: 30px;
}

.extra-button {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.booking-button {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.extra-button:hover,
.extra-button:focus {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-blue-hover);
}

.booking-button:hover,
.booking-button:focus {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-brown-hover);
}

.extra-button:active {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-blue-active);
}

.booking-button:active {
  border: none;
  color: var(--basic-white);
  background-color: var(--extra-brown-active);
}
/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Main footer */

.main-footer {
  grid-row: -1/-1;
  color: var(--basic-black);
  margin: 0 auto;
  padding: 0;
  height: 120px;
  z-index: 2;
  opacity: 0.9;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  background-color: var(--basic-white);
  position: absolute;
  top: -120px;
  left: 40px;
}

.hotels-footer {
  grid-row: -1/-1;
  color: var(--basic-black);
  margin: 0 auto;
  padding: 0;
  height: 120px;
  z-index: 2;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  width: 1200px;
  background-color: var(--basic-white);
  position: absolute;
  top: 0px;
  left: 40px;
}
.footer-contacts {
  margin-left: 0;
  justify-self: center;
  margin-top: 23px;
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
  color: var(--basic-blue);
}

.footer-contacts a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  padding: 0;
  margin 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-copyright {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin: 0;
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--extra-blue-hover);
}
