/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --extra-black: rgba(255,255,255,0.9);
  --extra-blue-hover: #669ec0;
  --extra-blue-active: #5496bd;
  --special: #766357;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation,
.feature-list,
.advertise-list {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--extra-black);
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--extra-blue-hover);
}
